html {
    background-color: #E5E5E5;
}

* {
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    background-color: #FFFFFF;
    border-color: white;
    border-width: 1px;
    border: solid;
    border-radius: 10px;
    text-align: center;
}

ul, ol {
    border: solid;
    background-color: #FFFFFF;
    border-color: #14213D;
    border-width: 3px;
    width: fit-content;
    padding: 5px 50px;
    border-radius: 20px;
}

a, .home {
    font-size: 25px;
}

.home {
    text-align: center;
}